<!DOCTYPE html>
<html>
<head>
</head>

<body>

<div class="container">
<h2>Feedbacks</h2>

<ul>
<% results.forEach(function(r) { %>
<li><%= r.member_name %> - <%= r.ts %> - <%= r.option %> - <%= r.comment %></li>
<% }); %>

</ul>

</div>

</body>
</html>
